@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    @apply box-border;
    @apply outline-none;
  }
}
html {
  font-size: 100%;
}
#root {
  max-width: 100vw;

  position: relative;
  font-family: 'Playfair Display', serif;
}

/* delete arrows   */
/* For chrome, Safari, Edge, Opera : */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* For firefox : */

input[type=number]{
    -moz-appearance: textfield;
}
